
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  font-weight: bold;
  margin-top: 15%;
}
button{
  background-color: blueviolet;
  padding: 5px;
  color: aliceblue;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}